body {
    background-image: url(/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin: 0 0 15px 0;
    font-family: Impact, serif;
}

h2 {
    font-size: 30px;
    font-family: Impact, serif;
}

.established {
    font-style: italic;
}

h1, h2, p {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin: 0 auto 0 auto;
    padding: 20px;
    max-width: 500px;
}

img {
    display: block;
    margin: -25px auto 0 auto;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

.item p {
    display: inline-block;
    margin: 5px 0 5px 0;
    font-size: 18px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

/*FOOTER */
footer {
    font-size: 14px;
}

.address {
    margin-bottom: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}